<h1>Code for your password reset request</h1>

<hr />

<p>You have requested a password reset. In order to reset your password, paste the following code: </p>

<p><strong>{{ Code }}</strong></p>

<p>into the password reset form.</p>

<hr />
